@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");



#root{
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  overflow-x: hidden;
  /* width: 100vw;
  height: 100vh; */
}


video {
  height: 50%;
  width: 60%;
  border: none;
}


/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */

/* //navbar css */
.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #3bb1ef;

  /* box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: solid gray !important; */
}

.nav-link {
  font-weight: 300 !important;
  margin-left: 20px;
  color: black !important;
}

/* 
.cart {
  color: white;
} */

/* .active {
  border-bottom: 2px solid #03045e;
} */


.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
  color: black;
  padding-left: 5px;
}

.search-form {
  margin-right: 10px;
  margin-top: 4px;
}

.search-form input {
  border: none;
  border-radius: 0;
  width: 30vw;
}

.search-form button {
  background-color: #248f62;
  border-radius: 0;
  color: white;
}

.search-btn:hover {
  background-color: #22b696;

}


/* =============================
==========footer============= */

.footer {
  padding-top: 25px;
  color: white;
  background: #010114;
  display: flex;
  flex-direction: column;
  height: 45vh;
}

.footer a {
  text-decoration: none;
  color: #b7b0b0;
}

.footer a:hover {
  color: #ffefba;
}

.up-footer {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #434343;
  height: 100%;
}

.down-footer {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.footer1 {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}


/* ==================== */
.product-link {
  text-decoration: none !important;
  color: black !important;
}

.cat-btn {
  padding: 40px 0px;
  font-size: 24px;
  text-transform: uppercase;
}

.cat-btn:hover {
  background-color: #434343;
  color: white;
}

/* ================
====dashboard
=================== */

.dashboard {
  margin-top: 70px !important;

}

.dashboard-menu h4 {
  background-color: #434343 !important;
  color: white;
  padding: 20px 0px;
}

.dashboard-menu .list-group-item.active {
  background-color: #04062d;
  border: none;
}

.dashboard-menu {
  margin-bottom: 30px;
}

@media screen and (max-width:1110px) {
  .dashboard-menu {
    width: 53vw;
  }
}

/* ========================================= */
/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactus h1 {
  color: #010114;
}

.pnf {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pnf-btn {
  background-color: #3bb1ef;
  width: 30vw;
  color: black;
  height: 5vh;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}