/* ================
====product details
=================== */

.product-details {
    margin-top: 100px !important;
}

.product-details-info {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.product-details-info .price {
    color: green;
}

.product-details-info button {
    background-color: #f5d019;
    border: none;
    color: black;
}

.product-details-info h6,
h5 {
    margin-bottom: 20px !important;
}

.similar-products .card {
    width: 18rem;
}

.similar-products .card-name-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.similar-products .card-price {
    color: green;
    font-weight: bold;
}

.similar-products button {
    border-radius: 0;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.similar-products .card-text {
    color: rgb(90, 89, 89);
}

.similar-products .card img:hover {
    transform: scale(0.9);
}

.similar-products .card-img-top {
    height: 300px !important;
}

.detail-img {
    width: 90%;
    padding: 18px;
}

.similar-products .card-title{
    font-size: 1.5vw;
    height: 35vh;
}